################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eContractPenalty/FileContentIndex/0a40edec-a606-4204-8d72-882fe00cda41.vsidx
/.vs/eContractPenalty/FileContentIndex/23995929-8ff3-442d-83e7-d379600b85fa.vsidx
/.vs/eContractPenalty/FileContentIndex/a8d9c4ff-8f85-4b27-b3df-af5d2fba73b1.vsidx
